---
import Icon from './Icon.astro'

export interface Props {
  class?: string
  type?: 'checkbox' | 'radio'
  name?: string
  value?: string
  font?: string
  disabled?: boolean
}

const {
  class: className,
  type = 'checkbox',
  name = 'Text label',
  value = 'Value',
  font = 'f-dbody-large-regular-16',
  disabled,
  ...rest
} = Astro.props
---

<label
  {...rest}
  class:list={[font, className, 'checkbox']}
>
  <input
    class="visually-hidden checkbox__input"
    type={type}
    {disabled}
    {name}
    {value}
  />

  <span class="checkbox__content">
    <span class="checkbox__icon-box">
      <Icon
        class="checkbox__icon-box__icon"
        name={type === 'checkbox' ? 'check' : 'circle'}
      />
    </span>
    <span
      class="checkbox__title"
      set:html={name}
    />
  </span>
</label>

<style is:global>
  .checkbox {
    position: relative;

    user-select: none;
  }

  .checkbox__input {
  }

  .checkbox__content {
    display: inline-flex;
    gap: 1.5rem;

    cursor: pointer;

    .checkbox__input:disabled ~ & {
      cursor: default;
    }
  }

  .checkbox__icon-box {
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.2rem solid var(--color-primary-100);

    .checkbox__input[type='radio'] ~ .checkbox__content & {
      border-radius: 50%;
    }

    .checkbox__input[type='checkbox'] ~ .checkbox__content & {
      border-radius: 0.5rem;
    }

    .checkbox__input[type='checkbox']:checked:not(:disabled)
      ~ .checkbox__content
      & {
      background-color: var(--color-primary-100);
    }

    .checkbox__input:focus:not(:disabled) ~ .checkbox__content & {
      box-shadow: 0rem 0rem 0rem 0.2rem rgba(48, 124, 50, 0.15);
    }

    .checkbox__input:disabled ~ .checkbox__content & {
      border-color: var(--color-button-text);
      box-shadow: 0rem 0rem 0rem 0.2rem #f9f9f9;
    }
  }

  .checkbox__icon-box__icon {
    fill: var(--color-primary-100);

    opacity: 0;

    .checkbox__input[type='checkbox'] ~ .checkbox__content & {
      width: 75%;
      height: 75%;
    }

    .checkbox__input[type='radio'] ~ .checkbox__content & {
      width: 100%;
      height: 100%;
    }

    .checkbox__input:checked:not(:disabled) ~ .checkbox__content & {
      opacity: 1;
    }

    .checkbox__input[type='checkbox']:checked:not(:disabled)
      ~ .checkbox__content
      & {
      fill: var(--color-button-text);
    }
  }

  .checkbox__title {
    color: #121417;

    .checkbox__input:disabled ~ .checkbox__content & {
      color: var(--color-grayscale-400);
    }
  }
</style>
