---
import type { JSX } from 'astro/jsx-runtime'
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<any> {
  class?: string
  name?: string
  placeholder?: string
  required?: boolean
  theme?: 'gray' | 'white'
  value?: string
  tag?: string
  type?: JSX.InputHTMLAttributes['type']
  autocompleteOff?: boolean
}

const {
  class: className,
  name,
  placeholder,
  required,
  readonly,
  value,
  theme,
  tag,
  type,
  autocompleteOff,
  ...rest
} = Astro.props

const Tag = tag || 'span'
---

<Tag
  {...rest}
  class:list={[className, 'form-input']}
  data-theme={theme}
>
  <slot name="outside-label" />

  <label class="form-input__label">
    <slot name="top" />

    <span class="form-input__main">
      <slot />

      <input
        class="form-input__input f-d-body-large-regular-16 f-m-body-basic-regular-14"
        {type}
        {name}
        {value}
        {placeholder}
        {required}
        autocomplete={autocompleteOff ? 'off' : undefined}
        onkeypress={readonly ? 'return false;' : undefined}
      />

      <slot name="after" />
    </span>
  </label>
</Tag>

<style is:global>
  .form-input {
    position: relative;
  }

  .form-input__main {
    position: relative;

    display: block;

    height: var(--input-height);
    border-radius: 1.5rem;

    @media (max-width: 768px) {
      height: 4rem;
      border-radius: 1.2rem;
    }
  }

  .form-input__input {
    width: 100%;
    height: 100%;
    padding: 1.4rem 2rem;

    display: block;

    border-radius: var(--select-border-radius, 1.5rem);
    background-color: var(--background-color, var(--color-grayscale-0));

    &::placeholder {
      color: var(--color-grayscale-400);
    }

    &:disabled {
      pointer-events: none;
    }

    .form-input[data-theme='white'] & {
      background-color: var(--background-color, var(--color-grayscale-0));
    }

    .form-input[data-theme='gray'] & {
      background-color: var(--background-color, var(--color-grayscale-200));
    }

    @media (max-width: 768px) {
      border-radius: 1.2rem;
    }
  }
</style>
