---
import type { SpriteIconName } from '@utils/SpriteIconName'
import DotsButton from './DotsButton.astro'
import Icon from './Icon.astro'
import type { ImageDataProps } from './Image.astro'
import Image from './Image.astro'
import { generateId } from 'aptechka/utils'

export const backgroundColor = 'white'

export interface Props {
  class?: string
  image?: ImageDataProps
  name?: string
  position?: string
  variants?: Array<{ icon: SpriteIconName; href: string; title: string }>
}

const {
  class: className,
  image = { src: '/images/company-members/director.jpg' },
  name = 'Вероника Иванова',
  position = 'Персональный менеджер',
  variants = [
    {
      icon: 'wa',
      title: 'WhatsApp',
      href: 'https://google.com',
    },
    {
      icon: 'tg',
      title: 'Telegram',
      href: 'https://google.com',
    },
    {
      icon: 'vk',
      title: 'Vkontakte',
      href: 'https://google.com',
    },
  ],
  ...rest
} = Astro.props

const popoverId = `manager-${generateId(5)}-variants`
---

<div
  {...rest}
  class:list={[className, 'manager-2']}
>
  <div class="manager-2__main">
    <Image
      {...image}
      lazy
      lazyBackground
      cover
      class="manager-2__image"
    />
    <div class="manager-2__right">
      <div
        class="manager-2__online f-d-body-large-regular-16 f-m-footnote-regular-12"
        >сейчас online</div
      >
      <div
        class="manager-2__name f-d-title-medium-20 f-m-body-basic-medium-14"
        set:html={name}
      />
      <div
        class="manager-2__position f-d-body-large-regular-16 f-m-footnote-regular-12"
        set:html={position}
      />
    </div>
  </div>
  <div class="manager-2__method">
    <div
      class="manager-2__method__title f-d-body-large-medium-16 f-m-footnote-medium-12"
      >Выберите удобный способ связи</div
    >

    <div class="manager-2__method__variants">
      <DotsButton
        class="manager-2__method__variants__button"
        flat
        target={popoverId}
      />
      <e-popover
        class="manager-2__method__variants__popover"
        id={popoverId}
      >
        {
          variants.map((item) => {
            return (
              <a
                class="manager-2__method__variant"
                href={item.href}
                target="_blank"
                title={item.title}
                data-type={item.icon}
              >
                <Icon
                  name={item.icon}
                  class="manager-2__method__variant__icon"
                />
              </a>
            )
          })
        }
      </e-popover>
    </div>
  </div>
</div>

<style is:global>
  .manager-2 {
    display: inline-block;
    height: max-content;

    background-color: var(--color-grayscale-100);
    border-radius: var(--border-radius);
  }

  .manager-2__main {
    padding: 3rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 768px) {
      padding: 1.5rem;
      gap: 1rem;
    }
  }

  .manager-2__image {
    width: 13.4rem;
    height: 13.4rem;

    border-radius: 1.5rem;

    @media (max-width: 768px) {
      width: 8.5rem;
      height: 8.5rem;

      border-radius: 1.2rem;
    }
  }

  .manager-2__right {
    flex: 1;
    padding: 2rem 4.2rem 3rem 2.5rem;

    border-radius: 1.5rem;
    background-color: var(--color-grayscale-0);

    @media (max-width: 768px) {
      padding: 1rem 1.5rem 1.5rem 1.5rem;

      border-radius: 1.2rem;
    }
  }

  .manager-2__online {
    color: var(--color-primary-100);

    display: inline-flex;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1.4rem;

    &::before {
      content: '';

      width: 0.7rem;
      height: 0.7rem;

      border-radius: 50%;

      background-color: var(--color-primary-100);

      @media (max-width: 768px) {
        width: 0.6rem;
        height: 0.6rem;
      }
    }

    @media (max-width: 768px) {
      gap: 1.2rem;
      margin-bottom: 1.2rem;
    }
  }

  .manager-2__name {
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
      margin-bottom: 0rem;
    }
  }

  .manager-2__position {
    color: var(--color-grayscale-400);
  }

  .manager-2__method {
    position: relative;
    z-index: 1;

    padding: 0 3rem;
    height: 5.1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-grayscale-200);

    border-top: 0.1rem solid var(--color-grayscale-300);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    @media (max-width: 768px) {
      padding: 0 1.5rem;
      height: 3.5rem;
    }
  }

  .manager-2__method__title {
  }

  .manager-2__method__variants {
    display: inline-block;
  }

  .manager-2__method__variants__button {
    --type: toggle;
  }

  .manager-2__method__variants__popover {
    --click-outside: true;

    position: absolute;
    top: calc(100% + 1.5rem);
    right: 0;

    z-index: -1;

    display: none;
    gap: 1.5rem;

    padding: 1.5rem;

    background-color: var(--color-grayscale-200);
    border-radius: var(--border-radius);

    box-shadow: 0.5rem 0.5rem 3rem 0 rgba(0, 0, 0, 0.1);

    opacity: 0;

    transition-property: opacity;
    transition-duration: var(--duration-button);

    &.triggered {
      display: flex;
    }

    &.opened {
      opacity: 1;
    }

    @media (max-width: 768px) {
      gap: 1rem;

      padding: 1rem;
    }
  }

  .manager-2__method__variant {
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.7rem;

    background-color: var(--color-primary-100);

    &[data-type='tg'] {
      background-color: #0088cc;
    }

    &[data-type='wa'] {
      background-color: #25d366;
    }

    &[data-type='vk'] {
      background-color: #4c75a3;
    }

    @media (hover: hover) {
      transition-property: opacity;
      transition-duration: var(--duration-button);
      transition-timing-function: ease;

      &:hover {
        opacity: 0.7;
      }
    }

    @media (max-width: 768px) {
      width: 3rem;
      height: 3rem;
    }
  }

  .manager-2__method__variant__icon {
    width: 60%;
    height: 60%;

    fill: var(--color-grayscale-0);
  }
</style>
