---
import Video from '@elements/Video.astro'
import Advice, { type Props as AdviceProps } from './Advice.astro'
import Billboard, {
  type Props as BillboardProps,
} from '@elements/Billboard.astro'
import Highlite from '@elements/Highlite.astro'
import Section, { type Props as SectionProps } from './Section.astro'

export interface Props extends SectionProps {
  heading?: string

  blocks: Array<
    | {
        name: 'description'
        props: string
      }
    | {
        name: 'highlite'
        props: { title: string; description: string }
      }
    | {
        name: 'advice'
        props: AdviceProps
      }
    | {
        name: 'list'
        props: Array<{ title: string; description: string }>
      }
    | {
        name: 'billboard'
        props: BillboardProps
      }
    | {
        name: 'video'
        props: string
      }
  >

  id?: string
}

const {
  heading = 'Подготовка к оформлению территории',
  blocks = [],
  id,
  ...rest
} = Astro.props
---

<Section
  class="article-chapter"
  whiteBackground
  paddingHorisontal={'large'}
  paddingTop={false}
  paddingBottom={'full'}
  {...rest}
>
  <h2
    class="article-chapter__heading f-d-title-medium-32 f-m-title-medium-20"
    {id}
    set:html={heading}
  />

  {
    blocks.map((block) => {
      if (block.name === 'description') {
        return (
          <p
            set:html={block.props}
            class="article-chapter__description f-d-body-large-regular-16 f-m-body-basic-regular-14"
          />
        )
      } else if (block.name === 'advice') {
        return (
          <Advice
            {...block.props}
            class="article-chapter__advice"
            label={false}
            size={'small'}
            padding={false}
          />
        )
      } else if (block.name === 'highlite') {
        return (
          <Highlite
            {...block.props}
            class="article-chapter__highlite"
          />
        )
      } else if (block.name === 'list') {
        return (
          <ul class="article-chapter__list">
            {block.props.map((item) => {
              return (
                <li class="article-chapter__list__item">
                  <div
                    class="article-chapter__list__item__title f-d-title-medium-20 f-m-body-large-medium-16"
                    set:html={item.title}
                  />
                  <div
                    class="article-chapter__list__item__description f-d-body-large-regular-16 f-m-body-basic-regular-14"
                    set:html={item.description}
                  />
                </li>
              )
            })}
          </ul>
        )
      } else if (block.name === 'billboard') {
        return (
          <Billboard
            {...block.props}
            class="article-chapter__billboard"
          />
        )
      } else if (block.name === 'video') {
        return (
          <Video
            video={block.props}
            class="article-chapter__video"
          />
        )
      }
    })
  }
</Section>

<style is:global>
  .article-chapter {
    *:last-child {
      margin-bottom: 0;
    }
  }

  .article-chapter__heading {
    margin-bottom: var(--section-vertical-padding);

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .article-chapter__description {
    margin-bottom: var(--section-vertical-padding-full);

    color: var(--color-grayscale-400);
  }

  .article-chapter__advice {
    margin-bottom: var(--section-vertical-padding-full);
    background-color: unset !important;
  }

  .article-chapter__highlite {
    margin-bottom: var(--section-vertical-padding-full);
  }

  .article-chapter__list {
    display: grid;
    grid-auto-rows: max-content;
    gap: 6rem;

    margin-bottom: var(--section-vertical-padding-full);

    @media (max-width: 768px) {
      gap: 4rem;
    }
  }

  .article-chapter__list__item {
  }

  .article-chapter__list__item__title {
    font-variant-numeric: tabular-nums;
    margin-bottom: 3rem;
    margin-left: 0.3em;

    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }

  .article-chapter__list__item__description {
    color: var(--color-grayscale-400);
  }

  .article-chapter__billboard {
    height: 49.5rem;

    margin-bottom: var(--section-vertical-padding-full);

    @media (max-width: 768px) {
      height: 23.5rem;
    }
  }

  .article-chapter__video {
    height: 49.5rem;

    margin-bottom: var(--section-vertical-padding-full);

    @media (max-width: 768px) {
      height: 23.5rem;
    }
  }
</style>
