---
import Header from '@singletons/Header.astro'
import Footer from '@singletons/Footer.astro'
import Scrollbar from '@singletons/Scrollbar.astro'

import Head from './Head.astro'
import { type Props as SeoProps } from './Seo.astro'
import PixelPerfect, {
  type PixelPerfectImages,
} from '@elements/PixelPerfect.astro'
import City from '@singletons/City.astro'
import FormAnswer from '@singletons/FormAnswer.astro'
import InstallmentForm from '@singletons/InstallmentForm.astro'
import QuestionForm from '@singletons/QuestionForm.astro'
import RequestForm from '@singletons/RequestForm.astro'
import VideoModal from '@singletons/VideoModal.astro'
import MapModal from '@singletons/MapModal.astro'
import OrderForm from '@singletons/OrderForm.astro'
import ColorOrderForm from '@singletons/ColorOrderForm.astro'

export interface Props {
  header?: boolean
  headerBlackAndWhite?: boolean
  footer?: boolean
  cookies?: boolean
  formResultModal?: boolean
  ctaModal?: boolean
  partnerModal?: boolean
  seo?: SeoProps | undefined
  pixelPerfectImages?: PixelPerfectImages
  headerColor?: 'dark' | 'light'
  headerMobileColor?: 'dark' | 'light'
  headerBackgroundColor?: 'transparent' | 'white'
}

let figmaImageName = Astro.url.pathname === '/' ? 'home' : Astro.url.pathname
figmaImageName = figmaImageName.startsWith('/')
  ? figmaImageName.slice(1)
  : figmaImageName
figmaImageName =
  figmaImageName.endsWith('/') && figmaImageName !== '/'
    ? figmaImageName.slice(0, -1)
    : figmaImageName

const {
  header = true,
  footer = true,
  pixelPerfectImages = [
    {
      src: `/images/dev/figma/${figmaImageName}-desktop.jpg`,
    },
    {
      src: `/images/dev/figma/${figmaImageName}-mobile.jpg`,
      media: 'max-width: 768px',
    },
  ],
  seo,
  headerColor = 'dark',
  headerMobileColor = 'dark',
  headerBackgroundColor = 'gray',
} = Astro.props
---

<html
  lang="ru"
  data-header-color={headerColor}
  data-header-mobile-color={headerMobileColor}
  data-header-background-color={headerBackgroundColor}
>
  <Head {seo} />

  <body>
    <div class="page">
      {header && <Header />}

      <InstallmentForm />
      <QuestionForm />
      <RequestForm />
      <VideoModal />
      <MapModal />
      <OrderForm />
      <ColorOrderForm />
      <FormAnswer />

      <div
        class="scroll hidden-scrollbar"
        id="page-scroll"
      >
        <Scrollbar />

        <!-- { -->
        <!-- import.meta.env.DEV && pixelPerfectImages ? ( -->
        <!-- ) : null -->
        <!-- } -->
        <PixelPerfect images={pixelPerfectImages} />

        <main>
          <slot />
        </main>

        {footer && <Footer />}

        <City />
      </div>
    </div>
  </body></html
>

<style is:global>
  .page {
    width: 100%;
    height: 100%;
    overflow: hidden;

    opacity: 0;
    pointer-events: none;

    .page-loaded & {
      opacity: 1;
      transition: opacity 1s;
      pointer-events: auto;
    }
  }

  .scroll {
    width: 100%;
    height: 100%;

    padding-top: var(--header-full-height);

    overflow: hidden auto;

    scroll-behavior: smooth;

    .dragging & {
      overflow: hidden;
    }
  }
</style>

<script>
  import '@globals/main.ts'
</script>
